div {
  display: block;
  font-family: "Arimo", sans-seriF;
  font-weight: bold;
}

.tab {
  margin: 10px 0px;
  height: 40px;
  weight: 70px;
  border: 3px solid lawngreen;
  border-radius: 10px;
}

#submit {
  font-family: "Arimo", sans-seriF;
  font-weight: bold;
  background: lawngreen;
  width: 100px;
  margin: 10px 0px;
  padding: 20px;
  border: 0px;
  border-radius: 30px;
}